h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: auto;
    height: auto;
}

#div0 {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#div1 {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

span {
    position: fixed;
    width: 250px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-style: dotted;
    background-color: lightcoral;
}





