body {
    color: cornflowerblue;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: olivedrab;
}

button {
    position: relative;
    width: 30px;
    height: 30px;
    left: 1px;
    top: 6px;
}

label {
    position: relative;
    left: 10px;
}

option {
    border: none; 
    border-radius: 10px;
}

div {
    position: relative;
    width: 95%;
    height: 500px;
    border: thin solid darkslategray;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    height: 30px;
    width: 150px; 
    padding: 5px;
    text-align: center;
    border-color: black;
    border-radius: 5px;
    background-color: lemonchiffon;
}

#score {
    height: 30px; 
    width: 200px; 
    padding: 5px; 
    text-align: center;
    border-color: black;
    border-radius: 5px;
    background-color: lemonchiffon;
}

#playground {
    height: auto;
    padding: 5px;
    text-align: center;
    border-color: black;
    border-radius: 5px;
    background-color: lemonchiffon;
}

.card {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    background-color: #d1a9a9;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.cardblue {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    background-color: blue;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.carddark {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    background-color: #b08e8e;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .card, .cardgreen, .carddark {
        width: 15px; 
        height: 15px;
        font-size: 15px;;
    }
    body {
        font-size: small;
    }
}
